function FallingSquare.new 0
    push constant 4
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push constant 0
    pop this 1
    push argument 1
    pop this 2
    push argument 2
    pop this 3
    push pointer 0
    call FallingSquare.draw 1
    pop temp 0
    push pointer 0
    return
function FallingSquare.draw 0
    push argument 0
    pop pointer 0
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push this 0
    push this 1
    push this 0
    push this 2
    add
    push this 1
    push this 2
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return
function FallingSquare.erase 0
    push argument 0
    pop pointer 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push this 0
    push this 1
    push this 0
    push this 2
    add
    push this 1
    push this 2
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return
function FallingSquare.moveDown 0
    push argument 0
    pop pointer 0
    push this 1
    push this 2
    add
    push constant 255
    lt
    not
    if-goto FallingSquare_1
    push pointer 0
    call FallingSquare.erase 1
    pop temp 0
    push this 1
    push this 3
    add
    pop this 1
    push this 1
    push this 2
    add
    push constant 255
    gt
    not
    if-goto FallingSquare_3
    push constant 255
    push this 2
    sub
    pop this 1
    goto FallingSquare_2
label FallingSquare_3
label FallingSquare_2
    push pointer 0
    call FallingSquare.draw 1
    pop temp 0
    goto FallingSquare_0
label FallingSquare_1
label FallingSquare_0
    push constant 0
    return
function FallingSquare.isAtBottom 0
    push argument 0
    pop pointer 0
    push this 1
    push this 2
    add
    push constant 254
    gt
    return
function FallingSquare.getX 0
    push argument 0
    pop pointer 0
    push this 0
    return
function FallingSquare.getY 0
    push argument 0
    pop pointer 0
    push this 1
    return
function FallingSquare.getSize 0
    push argument 0
    pop pointer 0
    push this 2
    return