function PlayerBlock.getX 0
    push argument 0
    pop pointer 0
    push this 0
    return
function PlayerBlock.getY 0
    push argument 0
    pop pointer 0
    push this 1
    return
function PlayerBlock.getWidth 0
    push argument 0
    pop pointer 0
    push this 2
    return
function PlayerBlock.getHeight 0
    push argument 0
    pop pointer 0
    push this 3
    return
function PlayerBlock.new 0
    push constant 4
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push argument 1
    pop this 1
    push argument 2
    pop this 2
    push argument 3
    pop this 3
    push pointer 0
    call PlayerBlock.draw 1
    pop temp 0
    push pointer 0
    return
function PlayerBlock.draw 0
    push argument 0
    pop pointer 0
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push this 0
    push this 1
    push this 0
    push this 2
    add
    push this 1
    push this 3
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return
function PlayerBlock.erase 0
    push argument 0
    pop pointer 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push this 0
    push this 1
    push this 0
    push this 2
    add
    push this 1
    push this 3
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return
function PlayerBlock.moveLeft 0
    push argument 0
    pop pointer 0
    push this 0
    push constant 9
    gt
    not
    if-goto PlayerBlock_1
    push pointer 0
    call PlayerBlock.erase 1
    pop temp 0
    push this 0
    push constant 10
    sub
    pop this 0
    push pointer 0
    call PlayerBlock.draw 1
    pop temp 0
    goto PlayerBlock_0
label PlayerBlock_1
label PlayerBlock_0
    push constant 0
    return
function PlayerBlock.moveRight 0
    push argument 0
    pop pointer 0
    push this 0
    push this 2
    add
    push constant 508
    lt
    not
    if-goto PlayerBlock_3
    push pointer 0
    call PlayerBlock.erase 1
    pop temp 0
    push this 0
    push constant 10
    add
    pop this 0
    push pointer 0
    call PlayerBlock.draw 1
    pop temp 0
    goto PlayerBlock_2
label PlayerBlock_3
label PlayerBlock_2
    push constant 0
    return